@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#main-content, html, body {
  height: 100%;
  width: 100%;
}

.left-panel {
  float: left;
  width: 25%;
  background: #f2ebe1;
  height: 100%;
  overflow: auto;
}

.right-panel {
  float: left;
  width: 75%;
  background: #f7f3ed;
  height: 100%;
  overflow: auto;
}

.profile-pic {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('https://www.gravatar.com/avatar/1aef980b1ee5710ed2d8ac869bac0965?s=200');
  float: right;
  margin: 15px 15px;
  border: ridge;
  overflow: hidden;
}

.links {
  float: right;
  margin: 15px 15px;
  text-align: right;
}

hr {
  border: none;
  height: 1px;
  background-color: #d3d3d3;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #F7F3ED;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson;
}
